/* div {
    border: 3px solid black;
} */
#container {
    display: flex;
}

span div {
    border: 3px solid black;
    width: 30px;
    height: 30px;
}

#test {
    border: 3px solid black;
    width: 30px;
    height: 30px;
}

